@import url('https://fonts.font.im/css?family=Indie+Flower|Lobster');
body {
  background-color: #393E46;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #4ECCA3;
}

footer {
  margin-top: 3rem;
  font-family: 'Indie Flower', cursive;
  color: white;
}

.player-one, .player-two {
  margin: 0 10px;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}

.img1 {
  width: 200px;
  height: 200px;
  background-image: url("../img/dice1.png");
  background-size: cover;
}

.img2 {
  width: 200px;
  height: 200px;
  background-image: url("../img/dice5.png");
  background-size: cover;
}
